:root {
    --width: 100px;
    --height: 100px;
    --depth: 110px;
}

* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
}

body {
    height: 100%;
    width: 100%;
    perspective: none;
    background-color: #DEB887;
}

/*
.container {
    margin: auto;
    background-color: white; 
    height: 50rem;
    width: 10rem;
}*/

/* Criando Cubo!*/
.cube {
    width: 0;
    height: 0;
    background-color:#DEB887;
    /*animation: mymove 5s infinite;*/
    transform: rotateX(-15deg) rotateY(40deg);
    transform-style: preserve-3d;
}

.cube__face {
    position: absolute;
    backface-visibility: hidden;
    /*transition: .5s cubic-bezier(0.64, 0.57, 0.37, 1.7);*/
}

.cube__face:nth-child(1) {
    width: var(--width);
    height: var(--height);
    transform: translate3d(-50%,-50%, calc(.5 * var(--depth)));
}

.cube__face:nth-child(2) {
    background: #0c04;
    width: var(--width);
    height: var(--height);
    transform: translate3d(-50%,-50%, calc(-.5 * var(--depth))) rotateY(180deg);
}

.cube__face:nth-child(3) {
    width: var(--width);
    height: var(--depth);
    transform: translate(-50%,-50%) translateY(calc(-.5 * var(--height))) rotateX(90deg);
}

.cube__face:nth-child(4) {
    background: #00c4;
    width: var(--width);
    height: var(--depth);
    transform: translate(-50%,-50%) translateY(calc(.5 * var(--height))) rotateX(-90deg);
}

.cube__face:nth-child(5) {
    width: var(--depth);
    height: var(--height);
    transform: translate(-50%,-50%) translateX(calc(-.5 * var(--width))) rotateY(-90deg);
}

.cube__face:nth-child(6) {
    background: #c004;
    width: var(--depth);
    height: var(--height);
    transform: translate(-50%,-50%) translateX(calc(.5 * var(--width))) rotateY(90deg);
}

/*@media screen and (min-height: 670px and min-width: 1000px) {}*/